:root {
    --key-color-lightblue: #4bdeff;
    --key-color-white: #ffffff;
}


body {
    background: linear-gradient(180deg, rgba(59,68,94,1) 45%, rgba(38,38,38,1) 100%);
}

.MainArea {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.MainArea > div {
    padding: 10px;
    margin: 10px;
}

.MainGameColumn {
    background-color: #0a0f0f;
    width: 300px;
    flex: 0 0 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10% 78% 4% 8%;
}

.MainGameColumn > div {
    text-align: center;
    font-size: 30px;   
}

.NoteColumn {
    background: rgba(38,38,38,1);
    /*background: linear-gradient(0deg, rgba(8,141,177,1) 0%, rgba(38,38,38,1) 10%);*/
}

.notes {
    position: absolute;
    width:150px;
    height: 8%;
    
}

.ColumnA > div, .ColumnD > div{
    background: var(--key-color-lightblue);
}

.ColumnB > div, .ColumnC > div{
    background: var(--key-color-white);
}

.UpHideBar {
    grid-column: 1 / 5;
    background-color: black;
    z-index: 2;
}

.JudgeBar {
    grid-column: 1 / 5;
    background-color: rgb(106, 0, 0);
    z-index: 2;
}

.JudgeColumn {
    background-color:antiquewhite;
    z-index: 2;
}

.InformationColumn {
    background-color: #00aa00;
    width: 200px;
    flex:0 0 400px;
}

@keyframes moveDown {
    0% {translate: 0px -110%; opacity: 1;}
    100% {translate: 0px 960%; opacity: 1;}
    
}



/* remember to use specific class to denote the notes, while the original divs should not have the inherited css properties
this allows for edits that can potentially hide away the problems of appearing notes aka divs at upper z index */